form{
    text-align: center;
    background-color:green;
}
#inputname{
    background-color: azure;
}
#quizchoice1{
    background-color: azure;
}
#quizchoice2{
    background-color: azure;
}
#announcement{
    text-align: center;
    color: darkgreen;
}
.questiontext{
    border-style: double;
    border-color: green;
    text-align: justify;
    text-decoration-color: beige;
}
#holder{
    background-color: cornsilk;
    height: 100vh;
}
li{
list-style: none;
background-color: beige;
border-color: green;
border-style: solid;
text-align: left;
}
th{
    background-color: grey;
}